@page "/heroprofile/create"
@inject ServiceLayer.HeroProfileManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="HeroProfile" OnValidSubmit="AddHeroProfile" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="heroid" class="form-label">HeroId:</label>
                <InputNumber id="heroid" @bind-Value="HeroProfile.HeroId" class="form-control" />
                <ValidationMessage For="() => HeroProfile.HeroId" class="text0danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/answers">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public HeroProfile HeroProfile { get; set; } = new();

    public async Task AddHeroProfile()
    {
        DB.CreateAsync(HeroProfile);
        NavigationManager.NavigateTo("/heroprofile");
    }
}
