@page "/answers/details/{GameId:int}/{CategoryId:int}/{Year:int}/{Month:int}/{Day:int}"
@inject ServiceLayer.AnswerManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<li>
    <h4>Answer</h4>
    <hr />
    @if (answer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CategoryValueId</dt>
            <dd class="col-sm-10">@answer.CategoryValueId</dd>
        </dl>
        <li>
            <a href="@($"/answers/edit?GameId={answer.GameId}/CategoryId={answer.CategoryId}/Year={answer.Date.Year}/Month={answer.Date.Month}/Day{answer.Date.Day}/CategoryValueId={answer.CategoryValueId}")">Edit</a> |
            <a href="@($"/answers/index")">Back to List</a>
        </li>
    }
</li>

@code {
    Answer? answer;

    [Parameter]
    public int GameId { get; set; }

    [Parameter]
    public int CategoryId { get; set; }

    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public int Day { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string date = Year + "-" + Month + "-" + Day;
        DateTime actualDate = DateTime.Parse(date);
        object[] key = new object[] { actualDate, CategoryId, GameId };
        answer = await DB.ReadAsync(key);

        if (answer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
