@page "/answer/index"
@using BusinessLayer;
@using ServiceLayer;
@inject ServiceLayer.AnswerManager am;

<h3>Index</h3>
<a href="brand/create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Answer answer in model)
        {
            <tr>
                <td>
                    @answer.CategoryValue.Value
                </td>
                <td>
                    <a href="answer/update/{GameId:int}/{CategoryId:int}/{Year:int}/{Month:int}/{Day:int}/{CategoryValueId:int}">Edit</a> |
                    <a href="answer/details/{GameId:int}/{CategoryId:int}/{Year:int}/{Month:int}/{Day:int}">Details</a> |
                    <a href="answer/delete/{GameId:int}/{CategoryId:int}/{Year:int}/{Month:int}/{Day:int}">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private IEnumerable<Answer> model = new List<Answer>();

    protected override async Task OnInitializedAsync()
    {
        model = await am.ReadAllAsync(true);

        await base.OnInitializedAsync();
    }


}
