@page "/game/create"
@inject ServiceLayer.GameManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label>
                <InputNumber id="id" @bind-Value="Game.Id" class="form-control" />
                <ValidationMessage For="() => Game.Id" class="text0danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/game">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Game Game { get; set; } = new();

    public async Task AddGame()
    {
        DB.CreateAsync(Game);
        NavigationManager.NavigateTo("/game");
    }
}
