@page "/answers/create"
@inject ServiceLayer.AnswerManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Answer" OnValidSubmit="AddAnswer" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="categoryvalueid" class="form-label">CategoryValueId:</label> 
                <InputNumber id="categoryvalueid" @bind-Value="Answer.CategoryValueId" class="form-control" /> 
                <ValidationMessage For="() => Answer.CategoryValueId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/answers">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Answer Answer { get; set; } = new();

    public async Task AddAnswer()
    {
        DB.CreateAsync(Answer);
        NavigationManager.NavigateTo("/answers");
    }
}
