@page "/Answers/edit/{GameId:int}/{CategoryId:int}/{Year:int}/{Month:int}/{Day:int}/{CategoryValueId:int}"
@inject ServiceLayer.AnswerManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Answer</h4>
<hr />
@if (Answer is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Answer" OnValidSubmit="UpdateAnswer" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Answer.Date" value="@Answer.Date" />
                <div class="mb-3">
                    <label for="categoryvalueid" class="form-label">CategoryValueId:</label>
                    <InputNumber id="categoryvalueid" @bind-Value="Answer.CategoryValueId" class="form-control" />
                    <ValidationMessage For="() => Answer.CategoryValueId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/answers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public DateTime Date { get; set; }

    [SupplyParameterFromForm]
    public Answer? Answer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Answer ??= await DB.Answers.FirstOrDefaultAsync(m => m.Date == Date);

        if (Answer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateAnswer()
    {
        DB.Attach(Answer!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AnswerExists(Answer!.Date))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/answers");
    }

    bool AnswerExists(DateTime date)
    {
        return DB.Answers.Any(e => e.Date == date);
    }
}
