@page "/categoriesvalues/details/{Id:int}"
@inject ServiceLayer.CategoriesValuesManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<li>
    <h4>CategoriesValues</h4>
    <hr />
    @if (categoriesValues is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dd class="col-sm-10">@categoriesValues</dd>
        </dl>
        <li>
            <a href="@($"/categoriesvalues/edit?Value={categoriesValues.Value}/Category={categoriesValues.Category}/CategoryId={categoriesValues.CategoryId}/HeroProfiles={categoriesValues.HeroProfiles}/Answers={categoriesValues.Answers}")">Edit</a> |
            <a href="@($"/categoriesvalues/index")">Back to List</a>
        </li>
    }
</li>

@code {
    CategoriesValues? categoriesValues;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categoriesValues = await DB.ReadAsync(Id);

        if (categoriesValues is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
