<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorServer</a>
    <link rel="stylesheet" type="text/css" href="~/app.css?version=0.1">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="answer/index">
                <span class="oi oi-plus" aria-hidden="true"></span>Answers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="game/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Games
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categoriesvalues/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Category Values
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="herometadata/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Hero Metadata
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="heroprofile/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Hero Profiles
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
