@page "/herometadata/delete/{Id:int}"
@inject ServiceLayer.HeroMetadataManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HeroMetadata</h4>
    <hr />
    @if (heroMetadata is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@heroMetadata.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Avatar</dt>
            <dd class="col-sm-10">@heroMetadata.Avatar</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HeroProfiles</dt>
            <dd class="col-sm-10">@heroMetadata.HeroProfiles</dd>
        </dl>
        <EditForm method="post" Model="heroMetadata" OnValidSubmit="DeleteHeroMetadata" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(heroMetadata is null)">Delete</button> |
            <a href="/herometadata">Back to List</a>
        </EditForm>
    }
</div>

@code {
    HeroMetadata? heroMetadata;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        heroMetadata = await DB.ReadAsync(Id, true);

        if (heroMetadata is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteHeroMetadata()
    {
        DB.DeleteAsync(Id);
        NavigationManager.NavigateTo("/herometadata/index");
    }
}
