@page "/herometadata/details/{Id:int}"
@inject ServiceLayer.HeroMetadataManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>HeroMetadata</h4>
    <hr />
    @if (heroMetadata is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dd class="col-sm-10">@heroMetadata</dd>
        </dl>
        <div>
            <a href="@($"/herometadata/edit?Name={heroMetadata.Name}/Avatar={heroMetadata.Avatar}/HeroProfiles={heroMetadata.HeroProfiles}")">Edit</a> |
            <a href="@($"/herometadata/index")">Back to List</a>
        </div>
    }
</div>

@code {
    HeroMetadata? heroMetadata;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        heroMetadata = await DB.ReadAsync(Id);

        if (heroMetadata is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
